<nav id="main-menu" role="navigation" class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
  <button type="button"
          class="navbar-toggler"
          [attr.aria-label]="'Toggle navigation menu'"
          [attr.aria-expanded]="!!navOpen ? 'true' : 'false'"
          (click)="toggleNav()">
    &#9776;
  </button>

  <a routerLink="/" class="navbar-brand" [title]="title" [innerText]="title"></a>

  <div class="collapse navbar-collapse" [class.active]="navOpen">
    <ul class="navbar-nav mr-auto mt-2 mt-sm-0" (click)="toggleNav(true)">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
    </ul>
  </div>
</nav>
