<header>
  <div id="nav-stripe">
    <div id="nav-container">
      <app-nav-bar [title]="title"></app-nav-bar>
    </div>
  </div>
</header>
<main role="main">
  <div id="content-container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer>
  <div id="footer-container">
    <hr>
    <p class="copyright">
      <abbr title="Copyright">&#169;</abbr> 2017,
      <a rel="external" target="_blank" href="http://yasselavila.com/">Yassel Avila Gil</a>.
      <span>All rights reserved.</span>
    </p>
  </div>
</footer>
